<a href="https://colab.research.google.com/github/crwoo/data_science/blob/main/assignment/week2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import psycopg2
import pandas.io.sql as sqlio

In [9]:
# 자신의 환경에 맞게 업데이트
user = 'dananoplat'
password = 'Dananoplat!1'

conn = 'postgresql://{user}:{password}@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/prod'.format(
    user=user,
    password=password
)

In [20]:
sql = "SELECT * from raw_data.user_session_channel usc where usc.userid =420;"

In [21]:
df = sqlio.read_sql_query(sql, conn)
df.head()

#한 유저당 여러개의 session id와 channel 보유(sessionid가 아닌 유저수를 세기 위해서는 distinct필요)

   userid                         sessionid    channel
0     420  3d191ef6e236bd1b9bdb9ff4743c47fe    Youtube
1     420  9379c23ac12dc94053207373040bc791    Organic
2     420  cf2ee7de99895351d72dcc79d067b24b     Google
3     420  6a12d7ebc27cae44623468302c47ad74  Instagram
4     420  03492e99e42e7ea8480cdfb4899604f5    Youtube

In [28]:
qry= "SELECT TO_CHAR(st.ts, 'yyyy-mm') timest, COUNT(DISTINCT usc.userid) mau FROM raw_data.user_session_channel usc inner join raw_data.session_timestamp st on usc.sessionid = st.sessionid GROUP by timest order by timest;"
df = sqlio.read_sql_query(qry, conn)
print(df)

    timest  mau
0  2019-05  281
1  2019-06  459
2  2019-07  623
3  2019-08  662
4  2019-09  639
5  2019-10  763
6  2019-11  721